<!doctype html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/9ef47fbc30.js" crossorigin="anonymous"></script>
    <%- include('../partials/head'); %>

    
</head>

<body>
    <div class="wrapper">
        <%- include('../partials/sidebar'); %>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <%- include('../partials/hidden_button'); %>

                                <a class="navbar-brand" href="#">Member Profile</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <%- include('../partials/hidden_search'); %>

                                <%- include('../partials/logout'); %>
                        </div>
                    </div>
                </nav>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <% if(typeof member !=="undefined" ) { %>
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="header">
                                        <!-- <h4 class="title">Edit Profile</h4> -->
                                    </div>
                                    <div class="content">
                                        
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Firstname</label>
                                                            <input type="text" class="form-control" value="<%= member.firstname %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Middlename</label>
                                                            <input type="email" class="form-control" value="<%= member.middlename %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Lastname</label>
                                                            <input type="email" class="form-control" value="<%= member.lastname %>">
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Title</label>
                                                            <input type="text" class="form-control" value="<%= member.title %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Date of Birth</label>
                                                            <input type="text" class="form-control" value="<%= member.dob %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Gender</label>
                                                            <input type="email" class="form-control" value="<%= member.gender %>">
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <input type="text" class="form-control"
                                                                value="<%= member.address %>">
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Marital Status</label>
                                                            <input type="email" class="form-control" value="<%= member.maritalstatus %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Phone No.</label>
                                                            <input type="text" class="form-control" value="<%= member.phone %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email</label>
                                                            <input type="text" class="form-control" value="<%= member.email %>">
                                                        </div>
                                                    </div>
                                                   
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Occupation</label>
                                                            <input type="email" class="form-control" value="<%= member.occupation %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Membership Type</label>
                                                            <input type="text" class="form-control" value="<%= member.membertype %>">
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                </div>
    
                                                <!-- <button type="submit" class="btn btn-info btn-fill pull-right">Update
                                                    Profile</button> -->
                                                <div class="clearfix"></div>
                                            </form>

                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-user">
                                    <div class="image">
                                        <!-- <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/> -->
                                    </div>
                                    <div class="content">
                                        <div class="author">
                                             <a href="#">
                                            <img class="avatar border-gray" src=<%=member.passport %> alt="..."/>
        
                                              <h4 class="title"><%= member.firstname %> <%= member.middlename %> <%= member.lastname %><br />
                                                 <!-- <small>michael24</small> -->
                                              </h4>
                                            </a>
                                        </div>
                                        <br>
                                        <p class="description text-center"> "Very dedicated to the service of God, <br>
                                                            very reliable and trusting. <br>
                                                            A good soldier of Christ."
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <button href="#" class="btn btn-simple"><i class="fas fa-envelope-square fa-2x"></i></button>
                                        <button href="#" class="btn btn-simple"><i class="fas fa-sms fa-2x" ></i></button>
                                        <button href="#" class="btn btn-simple"><i class="fas fa-print fa-2x"></i></button>
        
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../partials/other_libs'); %>  
</body>
</html>