<!doctype html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body>

<div class="wrapper">
    <%- include('../partials/sidebar'); %>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ministries</a>
                </div>
                <div class="collapse navbar-collapse">
                    <%- include('../partials/hidden_search'); %>
                    <%- include('../partials/logout'); %>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Ministries</h4>
                                <p class="category"></p>
                                <div class="row">
                                    <div class="col-md-8">
                                       <!--  <% if(typeof success !=="undefined" ) { %>
                                            <div class="alert alert-success" role="alert">
                                                <p>Successful!</p>
                                            </div>
                                            <% } %>
-->
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            <a class="add-button" href="/addministry">
                                                <span class="glyphicon glyphicon-plus"
                                                    style="font-weight:800; padding-right: 0.4em;"> </span>
                                                <span class="add-button-text">Add ministry</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="content">
                                <div class="footer">
                                    
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Summary
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>



                
            </div>
        </div>

    </div>
</div>


</body>

<%- include('../partials/other_libs'); %>

</html>


